@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
      * {
        font-family: "Roboto", sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        scroll-behavior: smooth;
        text-decoration: none;
      }
      nav {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: white;
        height: 12vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: "Arial";
      }
      h1 {
        margin-left: 20px;
      }
      .navbar {
        display: flex;
        cursor: pointer;
        list-style-type: none;
      }
      a {
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        margin-right: 20px;
        padding: 20px 20px 20px 10px;
      }

      .Contact {
        background-color: #090c31;
        height: 100vh;
        width: 100%;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .page {
        margin-bottom: 80px;
        margin-top: 160px;
        background-color: #fff;
        height: 80vh;
        width: 70%;
        padding: 48px;
        border-radius: 0 100px 100px 0;
      }
      form {
        margin: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      div {
        height: 48px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 60%;
        margin: 8px;
      }
      label {
        font: 400 19.2px Roboto;
        width: 20%;
        margin: 1.6px;
      }
      input {
        align-self: stretch;
        width: 80%;
        padding: 16px;
        border-radius: 5px;
        border: 1px solid rgba(123, 123, 123, 0.6);
        outline: none;
        font-size: 14px;
      }
      button {
        margin: 48px 0px;
        padding: 10px 40px;
        border: none;
        border-radius: 5px;
        background-color: #5853ff;
        color: #fff;
        font-family: 16px;
        cursor: pointer;
      }
      .footer {
        margin: 0;
        background-color: #fff;
        color: #2c2c2c;
        display: grid;
        grid-template-columns: 4fr 1fr;
        padding: 32px;
        width: 100%;
        height: 80px;
      }
      .footer div {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      .footer h1 {
        padding-right: 250px;
        padding-top: 160px;
        color: #5853ff;
        text-transform: uppercase;
        font: 700 40px Roboto;
      }
      .footer p {
        padding-right: 150px;
        font: 500 19.2px cursive;
        margin: 20px 0;
      }
      h5 {
        padding-top: 112px;
        font: 25px cursive;
        text-align: center;
      }
      .link {
        padding-top: 112px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .link a {
        padding-bottom: 0px;
        font: 900 16px Roboto;
        cursor: pointer;
        color: #5853ff;
        margin: 5px 0;
      }
